{% extends "base.html" %}
{% load static wagtailimages_tags %}

{% block content %}
    {% comment %} Hero Section {% endcomment %}
    <div class="border-b border-grey-lighter py-16 lg:py-20">
        <div>
            {% image page.author_image fill-64x64 class="h-16 w-16" %}
            {% comment %} <img src="/assets/img/author.png" class="h-16 w-16" alt="author" /> {% endcomment %}
        </div>
        <h1 class="pt-3 font-body text-4xl font-semibold text-primary dark:text-white md:text-5xl lg:text-6xl" >
            {{ page.title }}
        </h1>
        <p class="pt-3 font-body text-xl font-light text-primary dark:text-white">
            {{page.summary}}
        </p>
        {% if page.cta_link %}
            <a href="{{ page.cta_link }}" 
                class="mt-12 block bg-secondary px-10 py-4 text-center font-body text-xl font-semibold text-white transition-colors hover:bg-green sm:inline-block sm:text-left sm:text-2xl" >
                    {{ page.button_text }}
            </a>
        {% endif %}
    </div>
    {% comment %} My Story Section {% endcomment %}
    <div class="border-b border-grey-lighter py-16 lg:py-20">
        <div class="flex items-center pb-6">
            {% comment %} import icon from static/img folder {% endcomment %}
            <img src="{% static 'img/icon-story.png' %}" alt="icon story" />
            <h3 class="ml-3 font-body text-2xl font-semibold text-primary dark:text-white" >
                {{ page.my_story_title }}
            </h3>
        </div>
        <div>
            <p class="font-body font-light text-primary dark:text-white">
                {% comment %} use `|` to access django filter tag to add linebreaks in html {% endcomment %}
                {{ page.my_story_content|linebreaksbr }}
            </p>
        </div>
    </div>
    {% comment %} Blog section {% endcomment %}
    <div class="py-16 lg:py-20">
        {% comment %} Blog section title {% endcomment %}
        <div class="flex items-center pb-6">
            <img src="{% static 'img/icon-story.png' %}" alt="icon story"/>
            <h3 class="ml-3 font-body text-2xl font-semibold text-primary dark:text-white">
                Blog Posts
            </h3>
            <a href="{{ blog_index.url }}" 
                class="flex items-center pl-10 font-body italic text-green transition-colors hover:text-secondary dark:text-green-light dark:hover:text-secondary"
            >
                All blog posts
                <img src="{% static 'img/long-arrow-right.png' %}" class="ml-3" alt="arrow right"/>
            </a>
        </div>
        {% comment %} Blog section posts {% endcomment %}
        <div class="pt-8">
            {% comment %} iterate through and post last 3 published blog posts {% endcomment %}
            {% for post in blog_posts %}
                <div class="border-b border-grey-lighter pt-10 pb-8">
                    <div class="flex items-center">
                        <span class="mb-4 inline-block rounded-full bg-grey-light px-2 py-1 font-body text-sm text-blue-dark">
                            category
                        </span >
                        <span class="mb-4 ml-4 inline-block rounded-full bg-yellow-light px-2 py-1 font-body text-sm text-yellow-dark">
                            category
                        </span >
                    </div>
                    <a href="/post" class="block font-body text-lg font-semibold text-primary transition-colors hover:text-green dark:text-white dark:hover:text-secondary">
                        Senectus et netus et malesuada fames ac turpis egestas integer
                    </a>
                    <div class="flex items-center pt-4">
                        <p class="pr-2 font-body font-light text-primary dark:text-white">
                            June 30, 2020
                        </p>
                        <span class="font-body text-grey dark:text-white">//</span>
                        <p class="pl-2 font-body font-light text-primary dark:text-white">
                            5 min read
                        </p>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
    {% comment %} My Projects section {% endcomment %}
    <div class="pb-16 lg:pb-20">
        <div class="flex items-center pb-6">
        <img src="{% static 'img/icon-project.png' %}" alt="icon story" />
        <h3
            class="ml-3 font-body text-2xl font-semibold text-primary dark:text-white"
        >
            My Projects
        </h3>
        </div>
        <div>
        
        <a
            href="TODO: ADD LINK TO ../projects/"
            class="mb-6 flex items-center justify-between border border-grey-lighter px-4 py-4 sm:px-6"
        >
            <span class="w-9/10 pr-8">
            <h4
                class="font-body text-lg font-semibold text-primary dark:text-white"
            >
                TailwindCSS
            </h4>
            <p class="font-body font-light text-primary dark:text-white">
                Rapidly build modern websites without ever leaving your HTML.
            </p>
            </span>
            <span class="w-1/10">
            <img src="{% static 'img/chevron-right.png' %}" class="mx-auto" alt="chevron right" />
            </span>
        </a>
        
        <a
            href="TODO: ADD LINK TO ../projects/"
            class="mb-6 flex items-center justify-between border border-grey-lighter px-4 py-4 sm:px-6"
        >
            <span class="w-9/10 pr-8">
            <h4
                class="font-body text-lg font-semibold text-primary dark:text-white"
            >
                Maizzle
            </h4>
            <p class="font-body font-light text-primary dark:text-white">
                Framework for Rapid Email Prototyping
            </p>
            </span>
            <span class="w-1/10">
            <img src="{% static 'img/chevron-right.png' %}" class="mx-auto" alt="chevron right" />
            </span>
        </a>
        
        <a
            href="TODO: ADD LINK TO ../projects/"
            class="mb-6 flex items-center justify-between border border-grey-lighter px-4 py-4 sm:px-6"
        >
            <span class="w-9/10 pr-8">
            <h4
                class="font-body text-lg font-semibold text-primary dark:text-white"
            >
                Alpine.js
            </h4>
            <p class="font-body font-light text-primary dark:text-white">
                Think of it like Tailwind for JavaScript.
            </p>
            </span>
            <span class="w-1/10">
            <img src="{% static 'img/chevron-right.png' %}" class="mx-auto" alt="chevron right" />
            </span>
        </a>
        
        <a
            href="TODO: ADD LINK TO ../projects/"
            class="mb-6 flex items-center justify-between border border-grey-lighter px-4 py-4 sm:px-6"
        >
            <span class="w-9/10 pr-8">
            <h4
                class="font-body text-lg font-semibold text-primary dark:text-white"
            >
                PostCSS
            </h4>
            <p class="font-body font-light text-primary dark:text-white">
                A tool for transforming CSS with JavaScript
            </p>
            </span>
            <span class="w-1/10">
            <img src="{% static 'img/chevron-right.png' %}" class="mx-auto" alt="chevron right" />
            </span>
        </a>
        
        </div>
    </div>



{% endblock content %}
