{% extends "base.html" %}
{% load static %}

{% block content %} 
    <div class="py-16 lg:py-20">
        <div>
        <img src="{% static 'img/icon-project.png' %}" alt="icon project" />
        </div>

        <h1
        class="pt-5 font-body text-4xl font-semibold text-primary dark:text-white md:text-5xl lg:text-6xl"
        >
        {{ page.title }}
        </h1>

        <div class="pt-5 sm:w-3/4">
        <p class="font-body text-xl font-light text-primary dark:text-white">
            {{ page.summary|linebreaksbr }}
        </p>
        </div>

        {% comment %} {% if page.suscribe_url %}
        <form class="flex flex-col py-12 sm:flex-row" 
            method="POST"
            action="{{ page.suscribe_url }}">
            <input
                type="email"
                id="subscribe"
                name="email"
                placeholder="Drop that email here…"
                class="w-full border border-primary bg-grey-lightest px-5 py-4 font-body font-light text-primary placeholder-primary transition-colors focus:border-secondary focus:outline-none focus:ring-2 focus:ring-secondary dark:border-secondary sm:w-1/2"
            />
            <button
                type="submit"
                class="mt-5 bg-secondary px-10 py-4 font-body text-xl font-semibold text-white hover:bg-green sm:mt-0 md:text-2xl"
            >
                Subscribe
            </button>
        </form>
        {% endif %} {% endcomment %}

        {% comment %} Project preview  {% endcomment %}
        <div class="pt-8 lg:pt-12">
            {% for project in projects %}
                {% include 'common/project_preview.html' with project=project %}
            {% endfor %}
        </div>

        {% comment %} Pagination buttons - check if posts > 1 page {% endcomment %}
        {% if projects.paginator.num_pages > 1 %}
            <div class="flex pt-8 lg:pt-16">
                {% comment %} add a previous button {% endcomment %}
                {% if projects.has_previous %}
                    <a href="?page={{ projects.previous_page_number }}" class="group ml-3 flex cursor-pointer items-center border-2 border-primary px-3 py-1 font-body font-medium text-primary transition-colors hover:border-secondary hover:text-secondary dark:border-green-light dark:text-white dark:hover:border-secondary dark:hover:text-secondary">
                        <i class="bx bx-left-arrow-alt ml-1 text-primary transition-colors group-hover:text-secondary dark:text-white"></i >
                        Prev
                    </a>
                {% endif %}
                {% comment %} get number of pages for blogs {% endcomment %}
                {% for page_num in projects.paginator.page_range %}
                    {% comment %} active page number styling applied {% endcomment %}
                    {% if projects.number == page_num %}
                        <a href="?page={{ page_num }}" class="ml-3 cursor-pointer border-2 border-secondary px-3 py-1 font-body font-medium text-secondary">
                            {{ page_num }}
                        </a >
                    {% else %}
                        <a href="?page={{ page_num }}" class="ml-3 cursor-pointer border-2 border-primary px-3 py-1 font-body font-medium text-primary transition-colors hover:border-secondary hover:text-secondary dark:border-green-light dark:text-white dark:hover:border-secondary dark:hover:text-secondary">
                            {{ page_num }}
                        </a>
                    {% endif %}
                {% endfor %}
                {% comment %} add a Next button {% endcomment %}
                {% if projects.has_next %}
                    <a href="?page={{ projects.next_page_number }}" class="group ml-3 flex cursor-pointer items-center border-2 border-primary px-3 py-1 font-body font-medium text-primary transition-colors hover:border-secondary hover:text-secondary dark:border-green-light dark:text-white dark:hover:border-secondary dark:hover:text-secondary">
                        Next
                        <i class="bx bx-right-arrow-alt ml-1 text-primary transition-colors group-hover:text-secondary dark:text-white"></i >
                    </a>
                {% endif %}
            </div>
        {% endif %}
    </div>
{% endblock content %}