{% extends "base.html" %}
{% load static wagtailcore_tags %}

{% block content %}

<div class="py-16 lg:py-20">
        <div>
            <img src="{% static 'img/icon-contact.png' %}" alt="icon envelope" />
        </div>
        <h1 class="pt-5 font-body text-4xl font-semibold text-primary dark:text-white md:text-5xl lg:text-6xl" >
            {{ page.title }}
        </h1>
        <div class="richtext mt-10 pr-2 pt-3 sm:pt-0">
            <p class="font-body text-xl font-light text-primary dark:text-white">
                {{ page.thank_you_text|richtext }}
            </p>
        </div>
</div>
{% endblock %}